<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782580808831-lflacpm1bioku8utaru52jks7rdsfh95.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782580808831-lflacpm1bioku8utaru52jks7rdsfh95</string>
	<key>API_KEY</key>
	<string>AIzaSyBAi31AKN42T4QEOx69x8EJN6R0SB_UhsA</string>
	<key>GCM_SENDER_ID</key>
	<string>782580808831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-76c36</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-76c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782580808831:ios:6f94f8264b7682fbac534a</string>
</dict>
</plist>